@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --slider-connect-bg: #9333ea;
    --slider-tooltip-bg: #9333ea;
}
